{{ set . "title" "Room" }}
{{ template "header.html" . }}
<script src="/public/js/room.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
userId = {{ .user.Id }}
</script>

<center>
  <h1>{{ .title }}<span id='challengerNamesText'></span></h1>
  <h2>Year are {{ .playerLetter }}!</h2>
  <div id='thread'>
   <div id='content' >
    <table border='1' cellpadding = '0' cellspacing= '0' class='{{ .action }}'>
      {{range $x, $e1 := .game.Movements}}
        <tr>
          {{range  $y,  $e2 := . }}
          <th class='box' data-coordenates='{{ $x }}:{{ $y }}'>{{if eq 1 .}}X{{else if eq 2 .}}O{{end}}</th>
          {{end}}
        </tr>
      {{end}}
    </table>

    <div id='message'><label>Message:</label><div> {{ .message }}</div></div>
    {{if eq .action "finished" }}
    <br />
    <div id='rematch'><input onclick='agreeWithRematch();' value='Rematch' type='button' /></div>
    {{end}}

    <input type='hidden' value='{{ .refresh }}' id='refresh' />
    {{with .game}}
    <input type='hidden' value='{{ .GetChallengerNames }}' id='challengerNamesValue' />
    {{end}}
  </div>
  </div>
  <div id="dialog-confirm" title="Confirm">
    <p><span class="message" ></span>
      <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;" ></span>
    </p>
  </div>
  <div id='dialog-alert' title='Alert'>
    <p class='message'></p>
  </div>
</center>
<script>

  $(document).ready( function () {

    var refresh = function() {
      if ( !decideRedirect()) {
        $( '#thread' ).load( '/refresh/room?userId=' + userId + ' #thread #content', function() {
            init();
        });
      }
    }

    var refreshSession = function() {
      if ( !decideRedirect() ) {
        $.get( '/refresh/refreshSession?userId=' + userId + ' #thread #content', function() { } );
      }
    }

    setInterval( refresh, 2000 );
    setInterval( refreshSession, 1000 );
    init();
  })

</script>
{{ template "footer.html" . }}
